<a href="https://colab.research.google.com/github/lixx21/Classification/blob/main/Social_Network_ADS_Purchased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Felix Pratamasan

you can download the file on: [Social Network Ads](https://www.kaggle.com/d4rklucif3r/social-network-ads)

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn import tree
from sklearn.preprocessing import StandardScaler as ss
import sklearn.metrics as met
from sklearn.feature_selection import RFE as fs
import pydotplus as pp

**LOAD DATASET**

In [64]:
data = pd.read_csv("Social_Network_Ads.csv")

print("CHECK IF THERE IS NULL VALUE")
print(data.isnull().sum())
print("")
print("CHECK SUM OF PURCHASED(1) AND NOT(0)")
print(data['Purchased'].value_counts())

#change Gender into numerik
num = {"Gender":{"Male":1, "Female":0}}
data.replace(num, inplace = True)

data.head()

CHECK IF THERE IS NULL VALUE
User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

CHECK SUM OF PURCHASED(1) AND NOT(0)
0    257
1    143
Name: Purchased, dtype: int64

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

**SPLIT DATASET**

In [65]:
#we're not select the unnecessary feature (User ID)

X = data.iloc[:,1:4]
y = data['Purchased']

#split train and test
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.3, random_state=1)

print("X:")
print(X)
print("")
print("Y:")
print(y)


print("")
print("X_train")
X_train

X:
     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

Y:
0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

X_train

     Gender  Age  EstimatedSalary
39        0   27            31000
167       0   35            71000
383       1   49            28000
221       1   35            91000
351       1   37            75000
..      ...  ...              ...
255       0   52            90000
72        0   20            23000
396       1   51            23000
235       1   46            79000
37        1   30            49000

[280 rows x 3 columns]

**MODELING**

In [66]:
#create model
model = dtc(criterion = "entropy", splitter = "best", max_depth=5)
model = model.fit(X_train, y_train)

#evaluation 
predict_train = model.predict(X_train)
print("predict train: ", met.accuracy_score(y_train, predict_train))

print("")
predict_test = model.predict(X_test)
print("predict test: ", met.accuracy_score(y_test, predict_test))

print("")
confusion = met.confusion_matrix(y_test, predict_test)
print("confusion matrix (true positive; false positive; false negative; true negative):")
print(confusion)

print("")
precision = met.precision_score(y_test, predict_test)
print("predict as true positive: ", precision)

print("")
recall = met.recall_score(y_test, predict_test)
print("succesfully predict as true positive: ", recall)

predict train:  0.9571428571428572

predict test:  0.8666666666666667

confusion matrix (true positive; false positive; false negative; true negative):
[[63  9]
 [ 7 41]]

predict as true positive:  0.82

succesfully predict as true positive:  0.8541666666666666

**VISUALIZE DECISION TREE**

In [61]:
labels = ['gender', 'age', 'estimated salary']
dot_data = tree.export_graphviz(model, out_file=None, feature_names = labels, filled=True, rounded=True)
graph = pp.graph_from_dot_data(dot_data)
graph.write_png('Social_Network_ADS.png')

#it will downloaded to your local computer if you access this projecr on jupyter notebook 
#and it will downloaded to your google colab files if you access this project on google colab
#it takes a few second

True